<%- include layouts/header.ejs %>
<%- include layouts/nav.ejs %>
<%- include layouts/public/bg.css %>
<%- include layouts/public/about.css %>
<div class="container">	
	<h1><%= tagline %></h1>
</div>
<%- include layouts/footer.ejs %>

