<%- include layouts/header.ejs %>
<%- include layouts/nav.ejs %>
<%- include layouts/public/bg.css %>
<div class="container">	
	<h2><%= tagline %></h2>
</div>
<%- include layouts/public/home.css %>
<%- include layouts/footer.ejs %>

