<%- include layouts/header.ejs %>
<%- include layouts/public/bg.css %>
<%- include layouts/nav.ejs %>
<div class="container">	
	<h1><%= tagline %></h1>
</div>
	<%- include layouts/public/register.css %> 
<%- include layouts/footer.ejs %>